body{
    color: black;
    background:linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.705)),url(https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center no-repeat;
    background-size: cover;
}
.mytext{
    border:0;padding:10px;background:white;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
    width:100%;margin-top:0;margin-bottom:auto;line-height: 30px;font-size: 25px; color:white;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:white;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}

.text1{
    width:75%;display:flex;flex-direction:column;
}
.text1 > p:first-of-type{
    font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
    width:100%;margin-top:0;margin-bottom:auto;line-height: 30px;font-size: 25px; color:black;
}
.text1 > p:last-of-type{
    width:100%;text-align:right;color:black;margin-bottom:-7px;margin-top:auto;
}
.text1-l{
    float:left;padding-right:10px;
}        
.text1-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:15%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:#0084FF;
}
.msj{
    float:left;background:white;
}
.frame{
    background:rgba(0, 132, 255, 0.15);
    height:600px;
    overflow:hidden;
    padding:0;
    opacity:1;
    border-radius:5px;
    
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
body > div > div > div:nth-child(2) > span{
    background:#0084FF;padding: 10px;font-size: 21px;border-radius: 50%;
}
body > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent transparent transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: transparent transparent transparent transparent;           
}  
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}  

h1{
    color: white;
    font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    text-transform: uppercase;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;    
}